 <%- include('../layouts/header.ejs') %>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-style: italic;" href="/admin/dashboard">ADMIN DASHBOARD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item">
          <a class="nav-link" href="/admin/patients">Patient's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/medicines">Medicines</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/distributionHistory">Medicine Distributions</a>
        </li>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Staff
          </button>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" href="/admin/manager">Manager </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/doctors">Doctor's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/staffs">Laboratory Staffs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">Volunteers</a>
            </li>
          </ul>
        </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Attendance
              </button>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/attendance/doctors">Doctor Attendance </a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link" href="/admin/attendance/staffs">Staff Attendance </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/attendance/volunteers">Volunteer Attendance </a>
                </li>
    
              </ul>
            </div>


            <li class="nav-item">
              <a class="nav-link" href="/admin/visitors">Visitor's </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/latest-appointments">Appointments </a>
            </li>


          </ul>
          <form action="/admin/logout" method="post" >
            <button type="submit" class="btn btn-danger rounded-pill ms-2 me-3">Logout</button>
          </form>
    </div>
    </div>
  </nav>

      <div class="d-flex justify-content-end mt-2 align-items-center">
        <a href="/admin/createVolunteersform" type="button" class="btn btn-primary rounded-pill me-2">Add Volunteer</a>
      </div>

<div class="container mt-4">
  <h2 style="font-style: oblique;">VOLUNTEERS LIST</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>SL.NO</th>
          <th>Reg.ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Verified</th>
          <th style="text-align: center;">Actions</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user,index) => { %>
        <tr>
          <td style="text-align: center;"><%= index+1 %></td>
          <td><%= user._id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
          <td><%= user.is_varified ? 'Yes' : 'No' %></td>
         
          <td style="text-align: center;">
            <form id="toggleForm<%= user._id %>" action="/admin/volunteers/<%= user._id %>/toggle_verification" method="POST" class="d-inline-block">
              <input type="hidden" id="isVerified<%= user._id %>" name="is_verified" value="<%= user.is_verified ? '0' : '1' %>">
              <button type="submit" onclick="toggleVerification('<%= user._id %>')" class="btn btn-sm btn-success rounded-pill">
                <%= user.is_verified ? 'Unverify' : 'Verify' %> 
              </button>
            </form>
            <form id="toggleForm<%= user._id %>" action="/admin/volunteers/<%= user._id %>/toggle_verification" method="POST" class="d-inline-block">
              <input type="hidden" id="isVerified<%= user._id %>" name="is_verified" value="<%= user.is_verified ? '1' : '0' %>">
              <button type="submit" onclick="toggleVerification('<%= user._id %>')" class="btn btn-sm btn-danger rounded-pill">
                <%= user.is_verified ? 'verify' :'Unverify' %> 
              </button>
            </form>
            
          </td>
          <td>

            <a href="/admin/volunteers/<%= user._id %>/edit" class="btn btn-warning btn-sm rounded-pill">Edit</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<%- include('../layouts/footer.ejs') %>
