<%- include('../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-style: italic;" href="/admin/staffs">ADMIN DASHBOARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </a>
            <!-- <ul class="dropdown-menu " style="background-color:ghostwhite;border-radius: 5%;border-style: double;">
              <li><a class="dropdown-item" href="/admin/dashboard">Volunteers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/patients">Patient's</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/doctors">Doctor's</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/medicines">Medicines</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/distributionHistory">Medicine Distributions</a></li>
              <li><hr class="dropdown-divider"></li>
               <li>
                <form action="/admin/logout" method="post" class="dropdown-item">
                  <button type="submit" class="dropdown-item p-0">Logout</button>
                </form>
              </li> -->

              <ul class="dropdown-menu" style="background-color:ghostwhite;border-radius: 5%;border-style: double;">
                <li><a class="dropdown-item" href="/admin/patients">Patient's</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/doctors">Doctor's</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/staffs">Laboratory Staffs</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/medicines">Medicines</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/distributionHistory">Medicine Distributions</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/attendance/doctors">Doctor Attendance </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/attendance/staffs">Staff Attendance </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/attendance/volunteers">Volunteer Attendance </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/visitors">Visitor's </a></li>
          
              </ul>
            </ul> 
          </li>
        <!-- </ul> -->
          </li>
        </ul>
          <div class="d-flex">
            <a href="/admin/createStaff" type="button" class="btn btn-outline-primary rounded-pill me-3 ms-3">Add Laboratory Staff</a>
          </div>
        <form action="/admin/staffs" method="GET" class="d-flex flex-grow-1 justify-content-end">
          <div class="input-group me-2" style="max-width: 390px;">
            <input type="search" name="q" placeholder="Search Volunteer" class="form-control rounded-pill" value="<%= q ? q : null %>" />
            <button type="submit" class="btn btn-success rounded-pill ms-2">Search</button>
          </div>
        </form>
        <form action="/admin/logout" method="post" >
          <button type="submit" class="btn btn-danger rounded-pill ms-3 me-5">Logout</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container mt-4">
  <h2 style="font-style: oblique;">LABORATORY STAFFS LIST</h2>
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
            <tr>
                <th>Reg.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Staff Verified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
            <tr>
              <td><%= user._id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.mobile %></td>
              <td><%= user.is_varified ? 'Yes' : 'No' %></td>
              <td>
                <a href="/admin/staffs/<%= user._id %>/edit" class="btn btn-warning m-1 btn-sm rounded-pill">Edit</a>
                <form action="/admin/staffs/<%= user._id %>/destroy?_method=DELETE" method="POST" class="d-inline-block">
                  <button type="submit" onclick="return confirm('Are you sure you want to remove this LABORATORY STAFF?')" class="btn btn-sm btn-danger rounded-pill">Delete</button>
                </form>
              </td>
              
            </tr>
            <% }) %>
          </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<%- include('../layouts/footer.ejs') %>