<%- include('../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/doctor/dashboard">Doctor Dashboard</a>
    <button class="navbar-toggler"
     type="button" 
     data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item">
            <a class="nav-link" href="/doctor/dashboard">Volunteers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor/patients">Patients</a>
        </li>
            <!-- <li><hr class="dropdown-divider"></li> -->
        <li class="=nav-item">
          <a class="nav-link" href="/doctor/medicines">Medicines</a>
        </li>
        <li class="=nav-item">
          <a class="nav-link" href="/doctor/medicineHistory">Medicine Distributions</a>
        </li>

        <li class="=nav-item">
          <a class="nav-link" href="/doctor/markAttendence">Mark Attendence</a>
        </li>

        <li class="=nav-item">
          <a class="nav-link" href="/doctor/attendanceDisplay">View attendence</a>
        </li>
        </ul>
              <form action="/doctor/logout" method="post">
                  <button type="submit" class="btn btn-danger rounded-pill ms-2">Logout</button>
              </form>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2>Volunteers List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">SL.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Verified</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user,index) => { %>
                <tr>
                    <td style="text-align: center;"><%= index+1 %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.mobile %></td>
                    <td><%= user.is_varified ? 'Yes' : 'No' %></td>
             
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<%- include('../layouts/footer.ejs') %>