<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header.ejs') %>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Appointments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f7f7f7;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-top: 0;
            color: #333;
            text-align: center;
        }

        .total-appointments {
            margin-bottom: 20px;
            font-size: 18px;
        }

        .appointment-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #fff;
        }

        .appointment-card:last-child {
            margin-bottom: 0;
        }

        .appointment-details {
            margin-bottom: 10px;
        }

        .appointment-number {
            font-weight: bold;
            color: #007bff;
        }

        strong {
            color: #555;
        }

        .pagination {
            margin-top: 20px;
        }

        .pagination ul {
            margin: 0;
            padding: 0;
        }

        .pagination li {
            display: inline;
            margin-right: 10px;
        }

        .pagination li a {
            text-decoration: none;
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border-radius: 3px;
        }

        .pagination li a:hover {
            background-color: #0056b3;
        }
       

    </style>
</head>

<body>
    <div class="container">
        <div style="display: flex;">
            <a href="/doctor/dashboard" class=" btn " style="text-decoration: none;color: #333;margin-top: 20px;">&#9664; Back</a>
            <h1 style="margin-left: 100px;">Visitor's List</h1>
        </div>
        <br />
     
        <% appointments.forEach((appointment, index) => { %>
       
        <div class="appointment-card ">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="appointment-number">Appointment <%= index + 1 %></div>
            
            </div>
            <hr>
            <div class="appointment-details">
                <strong>Name:</strong> <%= appointment.name %><br>
                <strong>Date&Time:</strong> <%= appointment.date %><br>
                <strong>Purpose of visit:</strong> <%= appointment.message %><br>
            </div>
        </div>
        <% }); %>

        <% if (totalPages > 1) { %>
        <div class="pagination" style="justify-content: center;">
            <ul>
                <% for (let i = 1; i <= totalPages; i++) { %>
                <li>
                    <a href="/doctor/latestAppointments?page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
            </ul>
        </div>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</body>

</html>
