<%- include('../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/doctor/dashboard">Doctor Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item">
          <a class="nav-link" href="/doctor/dashboard">Volunteers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor/patients">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor/medicines">Medicines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor/medicineHistory">Distribution History</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/doctor/attendanceDisplay">View attendence</a>
        </li>
        <li class="=nav-item">
          <a class="nav-link" href="/doctor/latestAppointments">Visitor's </a>
        </li>
      </ul>
      <form action="/doctor/logout" method="post">
        <button type="submit" class="btn btn-danger rounded-pill ms-2 me-3">Logout</button>
      </form>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-end mt-2 align-items-center">
  <a href="/doctor/addPatient" type="button" class="btn btn-primary rounded-pill me-2">Add Patient</a> 
  <form action="/doctor/searchPatients" method="post" class="d-flex">
    <input type="search" name="q" placeholder="Search Patient" class="form-control rounded-pill me-2" style="min-width: 200px;" />
    <button type="submit" class="btn btn-success rounded-pill me-4">Search</button>
  </form>
</div>

<div class="container mt-4">
  <h2>Patients List</h2>
  <table class="table table-bordered table-hover">
    <thead >
      <tr style="text-align: center;" >
        <th style="background-color: #c6cdd3;">SL.No</th>
        <th style="background-color: #c6cdd3;">Reg.No</th>
        <th style="background-color: #c6cdd3;">Name</th>
        <th style="background-color: #c6cdd3;">Mobile</th>
        <th style="background-color: #c6cdd3;">Disease</th>
        <th style="background-color: #c6cdd3;">Doctor</th>
        <th style="background-color: #c6cdd3;">Medicines</th>
        <th style="background-color: #c6cdd3;">Added Date</th>
        <th style="background-color: #c6cdd3;">Status</th>
        <th style="background-color: #c6cdd3;">Edit Status</th>
        <th style="background-color: #c6cdd3;">Edit Details</th>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach((patient, index) => { %>
      <tr style="text-align: center;">
        <td><%= index + 1 %></td>
        <td><%= patient.RegNo %></td>
        <td><%= patient.name %></td>
        <td><%= patient.mobile %></td>
        <td><%= patient.disease %></td>
        <td>Dr. <%= patient.DoctorName %></td>
        <td>
          <% patient.Medicines.medicine.forEach((med) => { %>
          <small><%= med.name %><br></small>
          <% }) %>  
        </td>
        <td><%= patient.addingDate.toDateString() %></td>
        <td class="<%= patient.is_Active ? 'text-success' : 'text-danger' %>">
          <%= patient.is_Active ? 'Active' : 'Inactive' %>
        </td>
        <td>
          <form id="toggleForm<%= patient._id %>" action="/doctor/patients/<%= patient._id %>/toggle_verification" method="POST" class="d-inline-block">
            <input type="hidden" id="is_Active<%= patient._id %>" name="is_Active" value="<%= patient.is_Active ? '0' : '1' %>">
            <button type="submit" onclick="toggleVerification('<%= patient._id %>')" class="btn btn-sm rounded-pill <%= patient.is_Active ? 'btn-danger' : 'btn-success' %>">
              <%= patient.is_Active ? 'INACTIVE' : 'ACTIVE' %> 
            </button>
          </form>
        </td>
        <td>
          <a href="/doctor/patients/<%= patient._id %>/edit" class="btn btn-warning btn-sm rounded-pill">Edit</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<%- include('../layouts/footer.ejs') %>
