<%- include('../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/volunteer">Welcome <%=user.name %></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/volunteer">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/volunteer/medicines">Medicines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/volunteer/distributionHistory">Medicines Distributions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/volunteer/attendanceDisplay">View Attendance</a>
        </li>
        </ul>
      <form action="/volunteer/logout" method="post">
        <button type="submit" class="btn btn-danger rounded-pill ms-2 me-5">Logout</button>
      </form>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-end mt-2 align-items-center">
<form action="/volunteer/searchPatient" method="post" class="d-flex">
  <input type="search" name="q" placeholder="Search Patient" class="form-control rounded-pill me-2" style="min-width: 200px;" />
  <button type="submit"  class="btn btn-success rounded-pill ms-2 me-5">Search</button>
</form>
</div>


<div class="container mt-4">
  <h2>Patients List</h2>
  <table class="table table-bordered table-hover">
    <thead >
      <tr style="text-align: center;" >
        <th style="background-color: #c6cdd3;">Reg.No</th>
        <th style="background-color: #c6cdd3;">Name</th>
        <th style="background-color: #c6cdd3;">Mobile</th>
        <th style="background-color: #c6cdd3;">Disease</th>
        <th style="background-color: #c6cdd3;">Doctor</th>
        <th style="background-color: #c6cdd3;">Medicines</th>
        <th style="background-color: #c6cdd3;">Added Date</th>
        <th style="background-color: #c6cdd3;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach(patient => { %>
      <tr style="text-align: center;">
        <td><%= patient.RegNo %></td>
        <td><%= patient.name %></td>
        <td><%= patient.mobile %></td>
        <td><%= patient.disease %></td>
        <td><%= patient.DoctorName %></td>
        <td>
          <% patient.Medicines.medicine.forEach((med)=>{ %>
          <small><%= med.name %><br /></small>
          <% }) %>
        </td>
        <td><%= patient.addingDate.toDateString() %></td>
        <td>
          <a
            href="/volunteer/patientMedicines/<%=patient._id  %>"
            class="btn btn-warning btn-sm rounded-pill"
            >Distribute Medicine</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>

<%- include('../layouts/footer') %>
