<%- include('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Result Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
            color: #333;
            margin: 20px;
        }

        h1 {
            color: #ffffff;
            font-weight: bolder;
        }

        div {
            background-color: #ffffff;
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
            border-radius: 8px;
        }

        p {
            margin: 10px 0;
        }

        a {
            display: block;
            color: #fff;
            background-color: #004080;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Test Result Details</h1>

    <% result.forEach(patient => { %>
        <a href="mailto:<%= patient.email %>?subject=Report%20Request&body=Dear%20<%= patient.name %>,%0A%0AI hope this email finds you well.%0A%0AWe have completed the analysis of your test samples, and I am pleased to provide you with the results. Below, you will find the details:%0A%0A<%= patient.test_result[0].test_result %> (please copy the link)%0A%0AIf you have any questions or require further explanation regarding your test results, please do not hesitate to contact us. Our team is available to assist you.%0A%0ABest regards,%0Apariraksha%20palliative%20care"
            style="text-decoration: none;color: #b8b4b4;" class="appointment-link">
    <div>
        <p><strong>Name:</strong> <%= patient.name %></p>
        <p><strong>Mobile:</strong> <%= patient.mobile %></p>
        <p><strong>Disease:</strong> <%= patient.disease %></p>
        <p><strong>Doctor Name:</strong> <%= patient.DoctorName %></p>
        
        <h2>Test Results:</h2>
        <% patient.test_result.forEach(test => { %>
        <div>
            <p><strong>Test Name:</strong> <%= test.name %></p>
            <!-- Add more details about the test result as needed -->
            <a href="<%= test.test_result %>" target="_blank">View PDF</a>
        </div>
        <% }) %>
    </div>
    <% }) %>
    
</body>
</html>

<%- include('../layouts/footer.ejs') %>